* {
  box-sizing: border-box;
}

body {
  background-image: url("./assets/wholebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em;
  margin: 0;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0e0e0;
  font-family: "Poppins", serif;
}
